.el-pagination {
  margin-top: 10px;
  text-align: right;
}

.selection {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  box-sizing: border-box;
  margin-top: -20px;

  .select {}

  .right-btn {}
}